<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      Order Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Summary</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>From: {{_summary?.from | date: 'dd/MM/yyyy'}}</ion-label>
        <ion-label>To: {{_summary?.to | date: 'dd/MM/yyyy'}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Days: {{_summary?.days}}</ion-label>
        <ion-label>Total Amount: {{_summary?.amount}} EUR</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Total orders: {{_summary?.totalOrders}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-item lines="none">
      <ion-label color="dark">
        Order List:
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col size="6" *ngFor="let order of _orderList">
        <ion-card>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label>Name: {{order?.recipient?.name}}</ion-label>
              <ion-label>Email: {{order?.recipient?.email}}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Total Price: {{order?.totalPrice}} EUR</ion-label>
              <ion-label>Date: {{order?.created_at | date: 'dd/MM/yyyy'}}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Courier Name: {{order?.delivery?.courier}} EUR</ion-label>
              <ion-label>Courier Method: {{order?.delivery?.method}}</ion-label>
            </ion-item>
            <br>
            <ion-item class="header">
              <ion-label>Item Name</ion-label>
              <ion-label>Quantity</ion-label>
              <ion-label>Amount</ion-label>
            </ion-item>
            <ion-item *ngFor="let item of order?.items" class="order-items">
              <ion-label>{{item?.name}}</ion-label>
              <ion-label>{{item?.quantity}}</ion-label>
              <ion-label>{{item?.total_price?.amount}}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>